:root {
  --brand-color: #f7931a;
  --brand-color-deep: #82541c;
  --semi-white: #e9e9e9;
  --white: #fff;
}

/* Scroolbar Style */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--brand-color-deep);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-color-deep);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: 100vh !important;
}

/* default color setup */

.text-brand {
  color: var(--brand-color) !important;
}
.text-brand-deep {
  color: var(--brand-color-deep);
}
.bg-brand {
  background-color: var(--brand-color) !important;
}

.brand-text {
  -webkit-animation: fadein 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal
    forwards;
  animation: fadein 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s 1 normal forwards;
  padding-left: 1rem;
  color: var(--white) !important;
  font-weight: 900;
  letter-spacing: 0.01rem;
  font-size: 1.45rem;
  text-transform: uppercase;
  transition: all 1s ease;
}
.brand-text:hover {
  color: var(--semi-white) !important;
}

.navbar a,
.navbar a:focus,
.navbar a:active {
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s ease;
}
.navbar a:hover {
  color: var(--semi-white);
}
.dropdown-menu a {
  color: var(--brand-color);
}
.dropdown-menu a:hover {
  color: var(--brand-color-deep);
}

@media only screen and (max-width: 600px) {
  .dropdown-menu-end {
    left: auto !important;
    right: auto !important;
  }
}

/* typography */

.transition {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}

/* fade in and fade out */
.fadeOut {
  transition: all 1s ease;
  display: none !important;
}
.fadeIn {
  display: block;
}

/* fade in and fade out */

/* Loading animation */

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotation 1s infinite linear;
  width: 120px;
  height: 120px;
}
